<div class="table-container">
    <table mat-table [dataSource]="movies" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let movie">{{ displayTitle(movie) }}</td>
        </ng-container>
        <ng-container matColumnDef="tmdbId">
            <th mat-header-cell *matHeaderCellDef>TMDB ID</th>
            <td mat-cell *matCellDef="let movie">{{ movie.tmdbId }}</td>
        </ng-container>
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let movie">{{ movie.year }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let movie">
                <div class="actions">
                    <button
                        mat-icon-button
                        color="primary"
                        type="button"
                        matTooltip="Edit"
                        aria-label="Edit movie"
                        (click)="onEditMovie(movie)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="warn"
                        type="button"
                        matTooltip="Delete"
                        aria-label="Delete movie"
                        (click)="onDeleteMovie(movie)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
