<app-header></app-header>

<div class="container">
    <main>
        <app-welcome></app-welcome>

        <app-list-view
            [paginatedMovies$]="paginatedMovies$"
            [totalMovies$]="totalMovies$"
            [pageSize$]="pageSize$"
            [pageIndex$]="pageIndex$"
            [displayedColumns]="displayedColumns"
            (pageChange)="onPageChange($event)"
            (addRandomMovie)="addRandomMovie()"
            (editMovie)="onEditMovie($event)"
        ></app-list-view>
    </main>

    <app-footer [angularVersion]="angularVersion"></app-footer>
</div>
