<header class="main-header">
    <div class="nav_container">
        <div class="nav">
            <div id="settings">
                <span>⚙</span>
            </div>
            <div id="whats_that">
                <span>?</span>
            </div>
            <div id="logo_teil_1">
                <div id="logo_teil_2">
                    <svg width="96" height="48" viewBox="0 0 80 40" xmlns="http://www.w3.org/2000/svg">
                    </svg>
                </div>
            </div>
            <ul>
                <li>
                    <div>
                        <div>FILTER</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>SORTIEREN</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>SUCHEN</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div>LOGIN</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
